{% extends "base-apps.html" %}

{% block title %}Image Processing{% endblock %}

{% block sidebar %}
<div class="container">
    <button class="util-button" title="Basic Adjustments" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-sliders"></i>
    </button>
    <div class="dropdown">
        <button>Brightness</button>
    </div>
</div>
<div class="container">
    <button class="util-button" title="Color Adjustments" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-palette"></i>
    </button>
    <div class="dropdown">
        <button>Sepia</button>
        <button>Color Inversion</button>
        <button>Gray Scale</button>
    </div>
</div>
<div class="container">
    <button class="util-button" title="Transformation Effects" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-brands fa-codepen"></i>
    </button>
</div>
<div class="container">
    <button class="util-button" title="Artistic Effects" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-eye"></i>
    </button>
</div>



{% endblock %}

{% block maincontent %}
<script>
const containers = document.querySelectorAll('.sidebar .container');
containers.forEach(container => {
  const button = container.querySelector('.util-button');
  const dropdown = container.querySelector('.dropdown');

  // toggle on click
  button.addEventListener('click', (event) => {
    event.stopPropagation(); // stops immediate closing
    closeAllDropdowns();
    dropdown.classList.toggle('open');
  });
});

// close on outside click
document.addEventListener('click', closeAllDropdowns);

function closeAllDropdowns() {
  document.querySelectorAll('.sidebar .dropdown.open')
    .forEach(openDropdown => openDropdown.classList.remove('open'));
}

</script>
{% endblock %}