{% extends "base-apps.html" %}

{% block title %}Image Processing{% endblock %}

{% block sidebar %} 
<button class="util-button" title="Basic Adjustments" data-bs-toggle="tooltip" data-bs-placement="right">
    <i class="fa-solid fa-sliders"></i>
</button>
<button class="util-button" title="Color Adjustments" data-bs-toggle="tooltip" data-bs-placement="right">
    <i class="fa-solid fa-palette"></i>
</button>
<div class="dropdown">
    <button >Sepia</button>
    <button  >Color Inversion</button>
    <button>Gray Scale</button>
</div>
<button class="util-button" title="Transformation Effects" data-bs-toggle="tooltip" data-bs-placement="right">
    <i class="fa-brands fa-codepen"></i>
</button>
<button class="util-button" title="Artistic Effects" data-bs-toggle="tooltip" data-bs-placement="right">
    <i class="fa-solid fa-eye"></i>
</button>

{% endblock %}

{% block maincontent %}

{% endblock %}